/***** 폰트 *****/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
html, body {font-family: 'Noto Sans KR', sans-serif;}

/***** 공통사항 *****/
.wraps {width: 100%;}
.wrap {width: 100%; max-width: 1180px; margin: 0 auto;}
.pages {width: 100%; height: 100%;}
.pagers {position: fixed; right: 20px; top: 50%; transform: translateY(-50%); z-index:99999;}
.pagers > div {width: 12px; height: 12px; border-radius: 50%; margin: 1rem 0;}
.pager_sel {background-color: #6a0; border: none;} 
.pager_def {background-color: transparent; border: 2px solid #bbb;} 

/***** 애니메이션 *****/
.ani_jump:hover {animation-name: jump; animation-duration: 0.2s;}
@keyframes jump {
	0% {transform: translateY(0);}
	50% {transform: translateY(-20px);}
	100% {transform: translateY(0);}
}
.arrow_bot {animation-name: arrowBot; animation-duration: 0.4s; animation-iteration-count: infinite; animation-direction: alternate; border-bottom: 4px solid #fff; border-right: 4px solid #fff; position: absolute; width: 30px; height: 30px; left: 50%; right: 50%; margin: 0 auto; transform: rotate(45deg); z-index: 99;}
@keyframes arrowBot {
	0% {opacity: 0; bottom :80px;}
	100% {opacity: 1; bottom :55px;}
}


/***** 네비게이션 *****/
.tops {display: flex; justify-content: flex-end; align-items: center; font-size: 0.75rem; height: 3rem;}
.tops a:link, .tops a:visited {color: #444;}
.tops a:hover, .tops a:active {color: #6a0;}
.tops > :first-child > a:link, .tops > :first-child > a:visited {color: #6a0;}

.tops > span {padding:0 1rem; font-size: 0.5rem;}
.navs_wraps {width: 100%; position: relative; z-index: 9999;}
.navs {display: flex; align-items: center; padding-bottom: 1.5rem; position: relative; z-index: 9999;}
.navs a:link, .navs a:visited {color: #444; text-decoration: none;}
.navs a:hover, .navs a:active {color: #6a0; text-decoration: none;}
.navs > .logo {flex: 0 0 150px;}
.navs > .mn_navs {flex: 1 1 830px; display: flex;}
.navs > .mn_navs > li {font-size: 1rem; text-align: center;}
.navs > .mn_navs > li:nth-child(1) {width: 185px;}
.navs > .mn_navs > li:nth-child(2) {width: 140px;}
.navs > .mn_navs > li:nth-child(3) {width: 112px;}
.navs > .mn_navs > li:nth-child(4) {width: 110px;}
.navs > .mn_navs > li:nth-child(5) {width: 110px;}
.navs > .mn_navs > li:nth-child(6) {width: 105px;}
.navs > .schs {flex: 0 0 200px; display: flex; align-items: center;}
.navs > .schs > .form_sch {position: relative;}
.navs > .schs > .form_sch > input {width: 110px; margin-left: 10px; border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #333; padding: 4px; font-size: 0.75rem; outline: none;}
.navs > .schs > .form_sch > i {position: absolute; top: 4px; right: 0;}

.sb_navs_wraps {position: absolute; background-color: white; border-top: 3px solid #74984e; display: none;}
.sb_navs {display: flex;}
.sb_navs > li {flex-grow: 1; padding: 2rem 0; text-align: center; color: #999;}
.sb_navs > li:not(:first-child) {border-left: 1px solid #ccc;}
.sb_navs > li:nth-child(1) {width: 150px; text-align: left;}
.sb_navs > li:nth-child(2) {width: 182px;}
.sb_navs > li:nth-child(3) {width: 145px;}
.sb_navs > li:nth-child(4) {width: 112px;}
.sb_navs > li:nth-child(5) {width: 116px;}
.sb_navs > li:nth-child(6) {width: 110px;}
.sb_navs > li:nth-child(7) {width: 373px; text-align: right; padding-top: 150px;}

.sb_navs > li a:link, .sb_navs > li a:visited {color: #999; text-decoration: none;}
.sb_navs > li a:hover, .sb_navs > li a:active {color: #fff; text-decoration: underline;}
.sb_navs .sb_hover a {display: inline-block; width: 100%; padding:0.5rem 0;}
.sb_navs .sb_hover a:hover {background-color: #74984e;}
.sb_navs .sb_hover a.a_grn:link, .sb_navs .sb_hover a.a_grn:visited {color: #74984e;}
.sb_navs .sb_hover a.a_grn:hover, .sb_navs .sb_hover a.a_grn:active {color: #fff;}
.sb_navs .sb_hover {position: relative;}
.sb_navs .sb_hover > i {font-size: 1.5rem; color: #74984e; position: absolute; top: -18px; left: 50%; transform: translateX(-50%); display: none;}

.sb_bans {display: flex;}
.sb_bans > li {flex: 1 1 50%;}
.sb_bans > li:first-child {text-align: right; background-color: #ecdea1;}
.sb_bans > li:last-child {text-align: left; background-color: #8bc43f;}


/***** page1 *****/
#page1 {height: 100%; overflow: hidden; position: relative;}
.mn_video {width: 100%;}
.mn_links {position: absolute; z-index: 2; bottom: 20%; display: flex; 
	left: 0; right: 0; margin: 0 auto; justify-content: center;}
.mn_link {width: 220px; text-align: center;}
.mn_link > img {width: 130px;}
.mn_link > div {width: 100%; margin-top: 1rem; font-size: 1.25rem;}
.mn_link:not(:last-child) > div {border-right: 1px solid #fff;}
.mn_link a {color: #fff; text-decoration: none;}
.mn_link a:hover {text-decoration: underline;}
.slogan_bot {background-color: rgba(0,0,0,0.3); width: 100%; padding: 1rem 0; color:#999; position: absolute; left: 0; bottom: 0; font-size: 0.5rem; text-align: center;}

#page2 {background-color: mediumorchid;}
#page3 {background-color: moccasin;}
#page4 {background-color: paleturquoise;}
#page5 {background-color: sandybrown}
#footer {background-color: skyblue;}


/***** 모달팝업 *****/
.pops {width: 320px; position: fixed; top: 150px; left: 100px; z-index: 99999; background-color: #fff;}
.pops > .pop_tit {background-color: #74984e; color: #fff; text-align: right; padding: 0.5rem; font-size: 1.5rem;}
.pops > .pop_cont {padding: 0.5rem; min-height: 200px;}
.pops > .pop_foot {padding: 0.5rem; color: #666; text-align: right; font-size: 0.875rem;}
